/* team */


section.our_team p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 15px;
}

.our-team {
    text-align: center;
    position: relative;
    
}

    .our-team:before,
    .our-team:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s linear 0s;
    }

    .our-team:before {
        background: #287a2c;
        transform: scale(0);
        z-index: 1;
    }

    .our-team:hover:before {
        transform: scale(1);
    }

    .our-team:after {
        background: #d4d4d4;
    }

    .our-team .pic {
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

        .our-team .pic:before {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: rgba(53, 53, 53, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transform: scale(1.2);
            transition: all 0.3s linear 0s;
        }

    .our-team:hover .pic:before {
        opacity: 1;
        transform: scale(0.97);
    }

    .our-team img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .our-team .social {
        width: 100%;
        position: absolute;
        top: 45%;
        left: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        transform: scale(1.2);
        transition: all 0.3s linear 0s;
    }

    .our-team:hover .social {
        opacity: 1;
        transform: scale(1);
    }

    .our-team .social li {
        display: inline-block;
    }

        .our-team .social li a {
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            background: #fff;
            margin: 0 3px;
            font-size: 14px;
            color: #287a2c;
            transition: all 0.3s linear 0s;
        }

            .our-team .social li a:hover {
                background: #287a2c;
                color: #fff;
            }

    .our-team .team-content {
        padding-bottom: 35px;
    }

    .our-team .title {
        font-size: 22px;
        font-weight: bold;
        color: #2a2b2f;
        text-transform: capitalize;
        margin: 15px 0 10px 0;
    }

    .our-team .post {
        font-size: 18px;
        color: #696969;
        text-transform: capitalize;
    }

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

