@model Key_Castle_Models.Product
@using Key_Castle_Utility


<form method="post" style="border-radius:10px; box-shadow: 0px 0px 10px 0px #808080;">

    <input asp-for="Product_id" hidden />

    <div class="border p-3 bg-white ">

        <div class="form-group row">
            <h2 class="text-info pl-3 text-center">Delete Product</h2>
        </div>
        <div class="row ml-2">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-2">
                        <label style="color:black;" asp-for="Product_name"></label>
                    </div>
                    <div class="col-8">
                        <input  style="color:black;" asp-for="Product_name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-2">
                        <label style="color:black;" asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input style="color:black;" asp-for="Price" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row py-2">
                    <div style="color:black;" class="col-2">
                        <label asp-for="Desc"></label>
                    </div>
                    <div style="color:black;" class="col-8">
                        <textarea asp-for="Desc" class="form-control summernote"></textarea>
                    </div>

                </div>

                <div class="form-group row py-2">
                    <div style="color:black;" class="col-2">
                        <label style="color:black;" asp-for="Category_id"></label>
                    </div>

                    <div class="col-8">
                        <input style="color:black;" asp-for="Category_id" disabled class="form-control" />
                    </div>

                   

                </div>
                <div class="form-group row py-2">
                    <div class="col-8 offset-2 row">

                        <div class="col">

                            <button type="submit" class="btn btn-danger w-100">Delete</button>


                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 ">
                @* Keep this empty *@
                @if (Model.Product_id != 0)
                {
                    <img src="@WC.ImagePath@Model.Product_photo" class="w-100" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable: true
            });
        });

    </script>
}

