@model Key_Castle_Models.Team
@using Key_Castle_Utility
<!-- Flexslider css (for Testimonials) -->
<link rel="stylesheet" href="~/Team&header/style2.css" type="text/css" media="" />

<section class="our_team" id="team">
    <div class="container">
        <h3 class="tittle mb-xl-5 mb-4 text-dark text-center">Our Team</h3>
        <p class="text-center">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-12">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/ot-1.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">General farmer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/ot-2.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">kristina</h3>
                        <span class="post">Consultant</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/ot-3.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Marry D</h3>
                        <span class="post">Assistant</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/ot-4.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Julia N</h3>
                        <span class="post">Intern</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>