@model Key_Castle_Models.Team
@using Key_Castle_Utility
<!-- Flexslider css (for Testimonials) -->
<link rel="stylesheet" href="~/Team&header/style2.css" type="text/css" media="" />

<section class="our_team" id="team">
    <div class="container">
        <h3 class="tittle mb-xl-5 mb-4 text-dark text-center"style="color:black">Our Team</h3>
        
        <div class="row mt-1">
            <div class="col-md-4 col-sm-12" >
                <div class="our-team h-75"style="background-color:antiquewhite; ">
                    <div class="pic p-0">
                        <img src="~/images/Team/Atanu.jpeg" alt="our-team">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/apon.saha.3705/"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://mail.google.com/mail/u/0/#inbox"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Atanu Saha</h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="our-team h-75" style="background-color:antiquewhite">
                    <div class="pic p-0 ">
                        <img src="~/images/Team/Tonmoydp.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title ">Faisal Ahmmed</h3>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="our-team h-75"style="background-color:antiquewhite; ">
                    <div class="pic p-0">
                        <img src="~/images/Team/mahindp.jpg" alt="our-team">
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Mahin</h3>
                       
                    </div>
                </div>
            </div>

          
        </div>
    </div>
</section>