<div class="text-center">

    <h1 class="text-info">Order Confirmation</h1>

    <p>We have recieved your Order and someone from our team will contact you shortly!</p>

    <h3>Thank You</h3>

</div>
